{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block main %}
    {% for category in categories %}
{#        <h1><a href="{{ category.get_absolute }}">{{ category.name }}</a></h1>#}
{#        <h1><a href="{% url 'category_detail.get_absolute' %}">{{ category.name }}</a></h1>#}
        <h1><a href="#">{{ category.name }}</a></h1>
        {% for product in products %}
            {% if product.category == category %}
                <div>
                    <h3><a href="#">{{ product.title }}</a></h3>
                    <img src="{{ product.image.url }}" alt="" style="width:200px">
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block sidebar %}

{% endblock %}