{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block main %}
    <div>
        <ul>
            <li>
                <a href="{% url 'ecomapp:cart' %}">Корзина <span>{{ cart.item.count }}</span></a>
            </li>
        </ul>
    </div>
    {% for category in categories %}
        <h1><a href="{% url 'ecomapp:category_detail' category.slug %}">{{ category.name }}</a></h1>
        {% for product in products %}
            {% if product.category == category %}
                <div>
                    <h3><a href="{% url 'ecomapp:product_detail' product.slug %}">{{ product.title }}</a></h3>
                    <img src="{{ product.image.url }}" alt="" style="width:200px">
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block sidebar %}

{% endblock %}